#addQr {
  position: relative;
  height: -webkit-fill-available;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & .dataField{
    width: 100%;
  }
  & form{
    display: flex;
    align-items: center;
    & input{
      flex: 1;
      height: 30px;
      border-radius: 8px;
      margin: 0 5px;
      background-color: #3b3b3b;
    }
  }

  
  & .styleFieldBtns{
    width: 100%;
    & button{
      margin: 0 5px;
    }
  }
  & .qrCode_color{
    display: flex;
    width: 100%;
    align-items: center;
  }
  & .qr_eyes_radius{
    /* width: 100%; */
  }
  & .qr_eye_slide{
    /* width: 100%; */
    display: flex;
    align-items: center;
  }
  
  & .footBtns button {
    margin: 0 5px;
  }
}