#addQr {
  position: relative;
  height: -webkit-fill-available;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: auto;

  & .dataField{
    width: 95%;
    margin: auto;
  }
  & form{
    display: flex;
    align-items: center;
    & input{
      flex: 1;
      height: 30px;
      border-radius: 8px;
      margin: 0 5px;
      background-color: #3b3b3b;
    }
  }
  & .label{
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 600;
  }

  & .preview_section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    & .styleBtns{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 300px;
      & button{
        height: 80px;
        width: 80px;
      }
    }
  }

  & .stylling {
    width: 95%;
    margin: auto;

    & .qrCode_color{
      margin: 10px 0;
      & .colors {
        display: flex;
      }
    }

    & .qr_style{
      margin: 10px 0;

      & .styleFieldBtns button {
        margin-right: 15px;
      }
    }

    & .slider_group {
      display: flex;
      min-height: 100px;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 0;
      
      & .qr_eye_slide {
        display: flex;
        align-items: center;
        margin: 3px 0;
        
        & .slider_label{
          min-width: 59px;
          text-align: end;
        }
        & .colorOptions button {
          width: 30px;
          height: 30px;
        }
        & .colorPicker{
          left: -165px;
        }
      }      
    }
    & .logo_upload{
      display: flex;
      align-items: center;
    }

    & .qr_img_opacity, .logo_removeBg, .qr_img_logo_pad, .qr_pad_style{
      margin: 10px 0;
    }
    & .qr_pad_style button:nth-of-type(1){
      margin-right: 10px;
    }
  }

  & .footBtns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    & button:nth-of-type(1){
      margin-right: 10px !important;
    }
  }
  


}

@media only screen and (max-width: 480px) {
  #addQr{
    & .preview_section {
      flex-direction: column;
      & .styleBtns{
        margin-top: 20px;
        height: auto;
        flex-direction: row;
      }
    }
  }
}