#addQr {
  position: relative;
  padding: 20px;
  height: -webkit-fill-available;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  & .dataField{
    width: 100%;
  }
  & form{
    display: flex;
    align-items: center;
    & input{
      flex: 1;
      height: 30px;
      border-radius: 8px;
      margin: 0 5px;
      background-color: #3b3b3b;
    }
  }

  & .qrPreview{
    margin-bottom: 40px;
  }

  & .selectStyleField{
    width: 100%;
    & button{
      margin: 0 5px;
    }
  }
  & .qrCode_size{
    display: flex;
    width: 100%;
    & input{
      flex:1;
    }
  }
  & .qrCode_color{
    display: flex;
    width: 100%;
    align-items: center;
  }
  & .backColorOption{
    position: relative;
    margin-left: 5px;

    & .colorPicker{
      position: absolute;
      bottom: 0;
      height: 266px;
      width: 200px;      
      & .rcp-root{
        box-shadow: 2px 3px 5px #0009;
      }
    }
  }

  & .qr_img_section {
    display: flex;
    align-items: center;
    width: 100%;
  }

  & .footBtns button {
    margin: 0 5px;
  }
}